{% extends "layouts/base.html" %}

{% block title %} Team members {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
          <li class="breadcrumb-item">
            <a href="{% url 'task_manager:index' %}">
              <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Team members</li>
        </ol>
      </nav>
      <h1 class="h4">Team members</h1>
    </div>
  </div>

  <div class="table-settings mb-4">
    <div class="row align-items-center justify-content-between">
      <div class="col col-md-6 col-lg-3 col-xl-4">
        <form action="" method="get" class="form-inline">
          <div class="input-group me-2 me-lg-3 fmxw-400">
            {{ search_form }}
            <div class="input-group-append">
              <input type="submit" value="🔎" class="btn btn-secondary">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="border-gray-200">ID</th>
        <th class="border-gray-200">Username</th>
        <th class="border-gray-200">First name</th>
        <th class="border-gray-200">Last name</th>
        <th class="border-gray-200">Position</th>
      </tr>
      </thead>
      <tbody>
      <!-- Item -->
      {% for worker in worker_list %}
        <tr class='clickable-row' data-href="{% url 'task_manager:worker-detail' pk=worker.id %}">
          <td>{{ worker.id }}</td>
          <td>{{ worker.username }}</td>
          <td>{{ worker.first_name }}</td>
          <td>{{ worker.last_name }}</td>
          <td>{{ worker.position }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
